.headerDiv {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #161616;
  color: white;
  height: 62px;
}

.headerTitle {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 15px;
}
.headerMenu {
  display: flex;
  justify-content: space-around;
  grid-area: 1 / 6 / 2 / 7;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebarNarrow {
  padding-top: 13px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(25, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 50px;
  background-color: #bb000e;
}

.sidebarExpanded {
  padding-top: 13px;
  display: column;
  flex-direction: row;
  background-color: #bb000e;
  color: white;
  height: 93vh;
}

.expandedIcons {
  width: 218px;
}

.sidebarIcon {
  color: white;
  margin-left: 16px;
  padding-top: 14px;
  width: 16px;
  cursor: pointer;
}

.activePage {
  background-color: #e31c25;
}

.ghostIcon {
  height: 48px;
}

.closeSidebar {
  text-align: right;
  color: white;
  margin: 0;
  width: 218px;
  background-color: #bb000e;
  cursor: pointer;
}

.latestActivities {
  margin: auto;
  margin-top: 20px;
  width: 208px;
  background-color: #222222;
  padding-top: 5px;
  padding-bottom: 10px;
}