.headerDiv {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #161616;
  color: white;
  height: 62px;
}

.headerTitle {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 15px;
}
.headerMenu {
  display: flex;
  justify-content: space-around;
  grid-area: 1 / 7 / 2 / 9;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebarNarrow {
  position: absolute;
  padding-top: 21px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(25, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 50px;
  background-color: #bb000e;
}

.sidebarExpanded {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(25, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 218px;
  background-color: #bb000e;
  color: white;
}

.icon0 {
  grid-area: 1 / 1 / 2 / 2;
}
.icon1 {
  grid-area: 2 / 1 / 3 / 2;
}
.icon2 {
  grid-area: 3 / 1 / 4 / 2;
}

.sidebarIcon {
  color: white;
  margin-left: 16px;
  padding-top: 14px;
  width: 16px;
  cursor: pointer;
}

.activePage {
  background-color: #e31c25;
}

.ghostIcon {
  height: 48px;
}

.closeSidebar {
  text-align: right;
  color: white;
  margin: 0;
  width: 218px;
  background-color: #bb000e;
  cursor: pointer;
}

li {
  list-style: none;
}