.headerDiv {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #161616;
  color: white;
  height: 62px;
}

.headerTitle {
  grid-area: 1 / 1 / 2 / 2;
  padding-left: 15px;
}
.headerMenu {
  display: flex;
  justify-content: space-around;
  grid-area: 1 / 7 / 2 / 9;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
